<div id="<%= dom_id author %>">
  <p>
    <strong>Name:</strong>
    <%= author.name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= author.age %>
  </p>

  <p>
    <strong>Birthplace:</strong>
    <%= author.birthPlace %>
  </p>

    <% authorBooks = []
       author.books.each{|book| authorBooks.push(book.name) if !authorBooks.include?(book.name)}
       authorBooks.join(",")
    %>
    <%if authorBooks.length>0 %>
      <strong><%=author.name%>'s Books:</strong>
        <p>
          <%=authorBooks%>
        </p>
    <%end%>
        
    <% authorPublishers = []
       author.publishers.each{|publisher| authorPublishers.push(publisher.name) if !authorPublishers.include?(publisher.name)}
       authorPublishers.join(",")
    %>
    <%if authorPublishers.length>0 %>
      <strong><%=author.name%>'s Contracted Publishers:</strong>
        <p>
          <%=authorPublishers%>
        </p>
    <%end%>

    <% authorBookTypes = []
       author.book_types.each{|bookType| authorBookTypes.push(bookType.typeName) if !authorBookTypes.include?(bookType.typeName)}
       authorBookTypes.join(",")
    %>
    <%if authorBookTypes.length>0 %>
      <strong><%=author.name%>'s Wrote Book Types:</strong>
        <p>
          <%=authorBookTypes%>
        </p>
    <%end%>            

  <div class="d-flex flex-column justify-content-lg-between" style="width:25rem;">

  <div class="d-flex align-items-center">
    <p class="pe-3">
      <%= link_to "Show this author", author %>
    </p>

    <p>
      <%= turbo_frame_tag "edit_author" do%>
        <%= link_to "Edit this author", edit_author_path(author) %>
      <%end%>
    </p>

  </div>


  <div> <%= button_to "Destroy this author", author, method: :delete %> </div>
  </div>
  
</div>
