<p style="color: green"><span id="author_notice"<%= notice %></p>

<h1>There are <span id="author_counter"><%=Author.count%></span> Authors Here</h1>

<div id="new_author">
  <%= render partial:"authors/form",locals:{author:Author.new}%>
</div>

<div id="authors">
  <% @authors.each do |author| %>
    <%= render author %>
  <% end %>
</div>

<%= link_to "New author", new_author_path %>
