<p style="color: green"><span id="publisher_notice"<%= notice %></p>

<h1>There are <span id="publisher_counter"><%=Publisher.count%></span> Publishers Here</h1>

<div id="new_publisher">
  <%= render partial:"publishers/form",locals:{publisher:Publisher.new}%>
</div>

<div id="publishers">
  <% @publishers.each do |publisher| %>
    <%= render publisher %>
  <% end %>
</div>

<%= link_to "New publisher", new_publisher_path %>
