<div id="<%= dom_id book %>">
  <p>
    <strong>Name:</strong>
    <%= book.name %>
  </p>

  <p>
    <strong>Page:</strong>
    <%= book.page%>
  </p>

  <p>
    <strong>Author:</strong>
    <%= book.author.name %>
  </p>

  <p>
    <strong>Book Type:</strong>
    <%= book.book_type.typeName %>
  </p>

  <p>
    <strong>Publisher:</strong>
    <%= book.publisher.name %>
  </p>

  <div class="d-flex flex-column justify-content-lg-between" style="width:25rem;">

  <div class="d-flex align-items-center">
    <p class="pe-3">
      <%= link_to "Show this book", book %>
    </p>

    <p>
      <%= turbo_frame_tag "edit_book" do%>
        <%= link_to "Edit this book", edit_book_path(book)%>
      <%end%>
    </p>

  </div>


  <div> <%= button_to "Destroy this book", book, method: :delete %> </div>
  </div>

</div>
