<div id="<%= dom_id book %>">
  <p>
    <strong>Name:</strong>
    <%= book.name.titleize %>
  </p>

  <p>
    <strong>Page:</strong>
    <%= book.page%>
  </p>

  <p>
    <strong>Author:</strong>
    <%= book.author.name.titleize %>
  </p>

  <p>
    <strong>Book Type:</strong>
    <%= book.book_type.typeName.titleize %>
  </p>

  <p>
    <strong>Publisher:</strong>
    <%= book.publisher.name.titleize %>
  </p>

  <p>
    <%= link_to "Show this book", book %>
  </p>
  <%= turbo_frame_tag "edit_book" do%>
    <%= link_to "Edit this book", edit_book_path(book)%>
  <%end%>
  
  <%= button_to "Destroy this book", book, method: :delete %>
</div>
