<p style="color: green" id="notice"><%= notice %></p>

<h1>There are <span id="book_counter"><%=Book.count%></span> Books Here</h1>

<div id="new_book">
  <%= render partial:"books/form",locals:{book:Book.new}%>
</div>


<div id="books">
  <% @books.each do |book| %>
    <%= render book %>
  <% end %>
</div>

<div><%= link_to "New book", new_book_path %></div>
